@model List<Teacher>
<div class="container">

    <a class="btn btn-success" asp-action="create">Create</a>
    <table class="table table-dark table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">PhotoUrl</th>
                <th scope="col">Name</th>
                <th scope="col">Duty</th>
                <th scope="col">Action</th>
        
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td><img width="200" src="@item.PhotoUrl"></td>
                    <td>@item.Name</td>
                    <td>@item.Duty</td>
                    <td>
                        <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
